requests
passlib[bcrypt]
PyJWT
fastapi
uvicorn
pydantic
celery
pandas
faker
python-dotenv
email-validator
python-jose[cryptography]
prometheus_client
starlette
billiard
fastapi[all] 
celery 
redis
starlette
flower
python-multipart 
passlib[bcrypt] 
authlib 
httpx
pyodbc
SQLAlchemy
tenacity
sqlalchemy
firebase-admin
azure-storage-blob
vine
boto3
pyarrow